{%- if section.settings.text != blank -%}
  {%- render 'section-spacing-collapsing' -%}

  <style>
    #shopify-section-{{ section.id }} {
      --section-spacing-inline: 0;
      --scrolling-text-font-size: {% if section.settings.text_size == 'xsmall' %}1.125rem{% elsif section.settings.text_size == 'small' %}2.5rem{% elsif section.settings.text_size == 'medium' %}3.75rem{% elsif section.settings.text_size == 'large' %}5rem{% else %}7.5rem{% endif %};
    }

    @media screen and (min-width: 700px) {
      #shopify-section-{{ section.id }} {
        --scrolling-text-font-size: {% if section.settings.text_size == 'xsmall' %}1.5rem{% elsif section.settings.text_size == 'small' %}3.75rem{% elsif section.settings.text_size == 'medium' %}5rem{% elsif section.settings.text_size == 'large' %}8.75rem{% else %}12.5rem{% endif %};
      }
    }
  </style>

  {%- if section.settings.text_size == 'xsmall' -%}
    {%- assign is_tight = true -%}
  {%- endif -%}

  {%- capture section_content -%}
    <div class="scrolling-text {% if section.settings.scrolling_mode == 'scroll' %}scrolling-text--scroll{% else %}scrolling-text--auto{% endif %}">
      {%- if section.settings.scrolling_mode == 'scroll' -%}
        <visibility-progress class="scrolling-text__wrapper">
          {%- for i in (1..10) -%}
            <span class="scrolling-text__text heading {% unless forloop.first %}motion-reduce:hidden{% endunless %}" {% unless forloop.first %}aria-hidden="true"{% endunless %}>
              {%- render 'styled-text', content: section.settings.text, gradient: section.settings.text_gradient, style: section.settings.text_style -%}
            </span>
          {%- endfor -%}
        </visibility-progress>
      {%- else -%}
        <marquee-text scrolling-speed="{{ section.settings.scrolling_speed }}" class="scrolling-text__wrapper">
          {%- for i in (1..10) -%}
            <span class="scrolling-text__text heading {% unless forloop.first %}motion-reduce:hidden{% endunless %}" {% unless forloop.first %}aria-hidden="true"{% endunless %}>
              {%- render 'styled-text', content: section.settings.text, gradient: section.settings.text_gradient, style: section.settings.text_style -%}
            </span>
          {%- endfor -%}
        </marquee-text>
      {%- endif -%}
    </div>
  {%- endcapture -%}

  <div {% render 'section-properties', tight: is_tight %}>
    {%- if section.settings.clickable and section.settings.link != blank -%}
      <a href="{{ section.settings.link }}" class="scrolling-text__link" target="_blank" rel="noopener noreferrer">
        {{ section_content }}
      </a>
    {%- else -%}
      {{ section_content }}
    {%- endif -%}
  </div>
{%- endif -%}


{% schema %}
{
  "name": "Texte défilant",
  "class": "shopify-section--scrolling-text",
  "tag": "section",
  "disabled_on": {
    "groups": ["header", "custom.overlay"]
  },
  "settings": [
    {
      "type": "checkbox",
      "id": "full_width",
      "label": "Pleine largeur",
      "default": true
    },
    {
      "type": "text",
      "id": "text",
      "label": "Texte",
      "default": "Texte promotionnel"
    },
    {
      "type": "select",
      "id": "text_size",
      "label": "Taille du texte",
      "options": [
        {
          "value": "xsmall",
          "label": "Très petite"
        },
        {
          "value": "small",
          "label": "Petite"
        },
        {
          "value": "medium",
          "label": "Moyenne"
        },
        {
          "value": "large",
          "label": "Grande"
        },
        {
          "value": "xlarge",
          "label": "Très grande"
        }
      ],
      "default": "large"
    },
    {
      "type": "select",
      "id": "text_style",
      "label": "Style du texte",
      "options": [
        {
          "value": "outline",
          "label": "Contour"
        },
        {
          "value": "fill",
          "label": "Plein"
        }
      ],
      "default": "fill"
    },
    {
      "type": "select",
      "id": "scrolling_mode",
      "label": "Mode de défilement",
      "options": [
        {
          "value": "auto",
          "label": "Automatique"
        },
        {
          "value": "scroll",
          "label": "Au défilement"
        }
      ],
      "default": "auto"
    },
    {
      "type": "range",
      "id": "scrolling_speed",
      "min": 3,
      "max": 20,
      "step": 1,
      "unit": "s",
      "label": "Vitesse du défilement automatique",
      "default": 10
    },
    {
      "type": "checkbox",
      "id": "clickable",
      "label": "Rendre la section cliquable",
      "default": false
    },
    {
      "type": "url",
      "id": "link",
      "label": "Lien (si cliquable)",
      "default": "/",
      "info": "Entrez l'URL complète vers laquelle rediriger les utilisateurs."
    },
    {
      "type": "header",
      "content": "Couleurs",
      "info": "Le dégradé remplace les couleurs unies lorsqu'il est défini. Les dégradés pour les contours et les arrière-plans ne peuvent pas être combinés."
    },
    {
      "type": "color",
      "id": "background",
      "label": "Arrière-plan"
    },
    {
      "type": "color_background",
      "id": "background_gradient",
      "label": "Dégradé de l'arrière-plan"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Texte"
    },
    {
      "type": "color_background",
      "id": "text_gradient",
      "label": "Dégradé du texte"
    }
  ],
  "presets": [
    {
      "name": "Texte défilant"
    }
  ]
}

{% endschema %}